nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background: black;

  button {
    height: 30px;
    width: 150px;
    background: red;
    color: white;
    border: 3px solid red;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
    }
  }
}
